@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    margin: 0px;
    font-size: 16px;
}

header{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
}

h1{
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.233);
}

nav{
    background-color: cadetblue;
    padding: 3px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.233);
}

nav > a{
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

nav > a:hover{
    text-decoration: underline;
    font-size: 20px;
}

main{
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.233);
}

section{
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.233);
}

article{
    background-color: lightslategray;
    padding: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.233);
}

article > h2{
    text-decoration: underline;
}

article > aside{
    background-color: rgb(29, 29, 31);
    color: aliceblue;
    padding-left: 2px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: none;
}

footer > p{
    margin: 0px;
}

div#bola{
    height: 100px;
    width: 100px;
    background-color: darkslateblue;
    border-radius: 50%;
    margin: 20px auto 20px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
}