@charset "UTF-8";


:root{
    --cor1: #F299A9;
    --cor2: #6B3273;
    --cor3: #a22a1c;
    --cor4: #D9580D;
    --cor5: #7E9CA3;
}

body{
    /*background-image: url("../imagens/crew.png");*/
    background-color: var(--cor1);
    margin: 0px;
}

div#imagem {
    background-image: url("../imagens/crew-p.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header{
    margin: 0px;
    height: 200px;
    min-width: 100%;  
}

header > h1{
    text-align: center;
    font-size: 4.2em;
    text-shadow: white 1px 1px 0px;
    color: rgb(162, 41, 28);
    margin: 0px;
    padding-top: 2%;
}

nav{
    margin-top: -27px;
    margin-bottom: 0px;
}

nav a{
    background-color: var(--cor5);
    color: var(--cor3);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    margin: 0px 10px 0px 10px;
}

main{
    max-width: 1000px;
    margin: -1px auto 0px auto;
    background-color: white;
    padding: 10px;
}

main h1{

}

main p{
    text-align: justify;
    text-indent: 2em;
}

footer{
    background-color: #6B3273;
    margin-top: 10px;
    margin-bottom: 0px;
}

footer h3{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}

footer p{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

