@charset "UTF-8";
@media screen and (min-width: 300px) {
    
/* Modificando para mobile first 24/09/2022 */

:root {
    --cor1: #F299A9;
    --cor2: #6B3273;
    --cor3: #a22a1c;
    --cor4: #D9580D;
    --cor5: #7E9CA3;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    /*background-image: url("../imagens/crew.png");*/
    background-color: var(--cor5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    order: 1;
    
    background-image: url("../imagens/crew.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 20vh;
    width: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

header > h1 {
    display: none;
    text-align: center;
    font-size: 1.2em;
    color: transparent;
}

header > div#baner {
    display: block;
    background-image: url("../imagens/crew.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 15vh;
}

header > menu {
    display: none;
}

span#burguer {
    display: block;
    background-color: gray;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    border: 1px solid rgb(56, 56, 56);
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.534);*/
}

span#burguer:hover {
    background-color: rgb(46, 46, 46);
    color: white;
}

ul{
    list-style-type: none;
}

li {
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    background-color: gray;
    border: 1px solid rgb(56, 56, 56);
}

li:hover {
    background-color: rgb(46, 46, 46);
    color: white;
}

a {
    display: block;
    background-color: gray;
    color: rgb(30, 30, 30);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    padding: 5px;
    margin: 0px 10px 0px 10px;  
}

a:hover {
    background-color: rgb(46, 46, 46);
    color: white;
}

main {
    order: 2;
    min-height: 64vh;
    min-width: 280px;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 234, 248, 0.904);
    padding: 10px;
}

main h1 {
    margin-bottom: 10px;
}

main h2 {
    margin-bottom: 10px;
}

main p {
    padding: auto 10px;
    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5em;
    word-break: break-all; /*Solução de merda pq não achei a anotação de quebra de palavra*/
}

footer {
    height: 13vh;
    background-color: #6B3273;
    padding: auto;
    
}

footer h3 {
    text-align: center;
    padding-top: 15px;
}

footer p {
    text-align: center;
    padding-bottom: 15px;
}

}